###############
#    file     #
###############
*.class
*.bak
*.log
*.prefs
*.jar
.classpath
.project

###############
#    folder   #
/*/.settings/
/target/
/bin/

!/HelloWeb/
!/jms.activemq/
!/sitemesh/
!/SpringMVCHello/
!/SpringShiroDemo/
!/bookstore/